@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 28rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.09);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 30px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
h1{
    font-size: size 20px;
    text-align:center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 5%;
    opacity: 0.8;
}
label{
    font-size: 30px;
    color: black;
    margin-left: 30px;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
}
input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 7%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    opacity: 0.8;
}
button{
    width: 50%;
    margin: 3% auto;
    color: black;
    font-size: 15px;
    opacity: 0.9;
    background: rgba(255,255,255,0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
    box-shadow: 3px 3px 5px rgba(31,38,135,0.37);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
a{
    font-size: 20px;
    color: black;
    text-align: center;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
button a{text-decoration: none;}